---
import '../styles/global.css';
import Footer from '../components/Footer.astro'
import Analytics from '@vercel/analytics/astro'

---


<!doctype html>
<html lang="en">
	<head>
		<Analytics/>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<link rel="apple-touch-icon" href="/favicon.png">

		<meta name="generator" content={Astro.generator} />
		<title>Portfolio</title>
		<meta name='description' content="Se mine prosjekter" />

		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap" rel="stylesheet">
		<script>
			const updateCursor = ({ x, y }) => {
				document.documentElement.style.setProperty('--x', x);
				document.documentElement.style.setProperty('--y', y);
			}
			document.body.addEventListener('pointermove', updateCursor);
		</script>
	</head>
	<body>
		<slot />
		<Footer />
	</body>
</html>
